
* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    
body {
    display: flex;
    justify-content: space-around;
    color: rgba(0, 0, 0, 0.6);
    background: rgba(0, 0, 0, 0.13);
}

body main {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 90px 0 90px 0;
}

body main section, body main aside, body popup {
    display: flex;
    padding: 20px;
    flex-direction: column;
    background: white;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2) inset;
}

body header {
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 20px;
    background: blueviolet;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
    z-index: 400;
}

body header div {
    display: flex;
    padding: 0 20px;
}

body header div * {
    line-height: 60px;
}

body header div h1 {
    margin: 0 20px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
}

body header div a {
    display: flex;
    padding: 0 20px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    transition: all 0.2s ease;
}

body header div a:hover {
    background: rgba(255, 255, 255, 0.24);
}

body header div a svg {
    padding-top: 15px;
    fill: rgba(255, 255, 255, 0.8);
}

body main section {
    flex: 1;
    margin: 0 15px 0 30px;
    z-index: 200;
}

body main aside {
    position: fixed;
    right: 0;
    margin: 0 30px 0 15px;
    max-width: 55%;
    z-index: 100;
}

article {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

article:last-child {
    margin-bottom: 0;
}

body aside article setting {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

body aside article setting > * {
    flex: 1;
}

body aside article #drawing {
    max-height: 40vh;
    text-align: center;
    overflow: auto;
}

h2 {
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 18px;
    border-bottom: 2px solid silver;
}

#objects {
    display: flex;
    flex-direction: column;
    list-style-type : none;
    background: white;
}

#objects li {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

#objects li headerobj {
    display: flex;
    flex-direction: row;
}

#objects li headerobj div {
    display: flex;
    padding: 10px 15px;
}

#objects li headerobj div.warning:hover {
    background: lightyellow;
}

#objects li headerobj div.danger:hover {
    background: tomato;
}

#objects li headerobj div:first-child {
    flex: 1;
}

#objects li headerobj div:hover, #objects li headerobj div.active {
    background: rgb(217, 239, 255);
}

#objects li headerobj div > * {
    flex: 1;
}

#objects li headerobj arrow {
    text-align: right;
}

#objects li sectionobj {
    display: flex;
    flex-direction: row;
    border: 1px solid silver;
    border-top: 0;
    background: rgba(0, 0, 0, 0.03);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) inset;
}

#objects li sectionobj.hidden, #objects li sectionobj {
    display: none;
}

#objects li sectionobj.displayed {
    display: flex;
}

#objects li sectionobj article {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 5px 0;
}

/* #objects li sectionobj article:first-child {
    border-right: 1px solid silver;
} */

#objects li sectionobj article property {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    padding: 5px 5px 5px 15px;
    transition: all .1s ease-in-out;
}

#objects li sectionobj article property:last-child {
    margin-bottom: 0;
}

#objects li sectionobj article property:hover {
    background: rgba(0, 0, 0, 0.1);
}

#objects li sectionobj article property > * {
    flex: 1;
}

#objects li sectionobj article property label {
    line-height: 200%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

objects, instructions {
    display: flex;
    flex-direction: row;
}

objects {
    flex-wrap: wrap;
}

instructions {
    padding: 5px;
    margin-top: 5px;
    border-top: 1px solid silver;
}

objects > * {
    flex: 1;
    margin-right: 15px;
    margin-bottom: 15px;
    min-width: 80px;
    max-width: 15%;
}

instructions > * {
    flex: 1;    
    margin-right: 5px;
}

objects > *:last-child, instructions > *:last-child {
    margin-right: 0;
}

button {
    height: 40px;
    color: rgba(0, 0, 0, 0.6);
}

button, headerobj div {
    background: white;
    transition: all .13s ease;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

button:hover, headerobj div:hover, headerobj div.active {
    margin-top: 2px;
    margin-bottom: -2px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
}

canvas {
    border: 1px solid silver;
}

input, select {
    text-align: right;
    padding-right: 5px;
}

body popup {
    position: absolute;
    top: -100%;
    border: 5px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 200px 500px rgba(0, 0, 0, 0.5);
    transition: all .2s ease;
    opacity: 0;
    z-index: 400;
}

body popup.display {
    top: 50px;
    opacity: 1;
}

body #convert_popup {
    height: 80%;
    width: 50%;
}

body #convert_popup textarea {
    resize: none;
    height: 100%;
    margin-bottom: 15px;
    padding: 10px;
    font-family: Consolas;
    color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: burlywood;
}

body #ask_popup {
    margin-top: 10vh;
    width: 20%;
}

body #ask_popup p {
    line-height: 120%;
    margin: 10px 0 30px 0;
}

body #ask_popup buttons {
    flex: 1;
    display: flex;
    flex-direction: row;
}

body #ask_popup buttons button {
    flex: 1;
    margin-right: 5px;
}

body #ask_popup buttons button:last-child {
    margin-right: 0;
}

body footer {
    position: fixed;
    bottom: 20px;
    line-height: 23px;
    text-align: center;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.3);
}

body footer a {
    color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

body footer a:hover {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: underline;
}
