
* {
    margin: 0;
    padding: 0;
}

html {
    background: rgb(15, 15, 34);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(255, 255, 255, 0.7);
    background: rgba(255, 255, 255, 0.1);
}

body > * {
    align-items: center;
    text-align: center;
}

body header {
    padding-top: 10px;
    opacity: 0.5;
}

body section {
    display: flex;
    flex: 1;
}

tt {
    padding: 3px;
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

applet {
    display: block;
    margin: auto;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 2px 5px rgba(0, 0, 0, 0.13) inset;
}